#blog-title {
  color: #7cfbff;
}

#blog-box-wrapper {
  width: 100%;
}

#lucky-box-wrapper {
  width: 100%;
  text-align: center;
  padding: 30px;
}

#lucky-box-wrapper h3 {
  color: #ff7c9a;
}

#lucky-box-wrapper h4 {
  color: #fff;
}

.lucky-btn {
  cursor: pointer;
}
